@model GeoDoorServer3.Models.DataModels.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h1 text-primary">Delete</h1>

<h4 class="h4">Are you sure you want to delete @Model.Name?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessRights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessRights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastConnection)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index"><button type="button" class="btn btn-dark">Back to List</button></a>
    </form>
</div>
